.filter
{
    width: 100%;
    background: #f9f9f9;
    border: #ccc 1px solid;
    margin-bottom: 2em;
    padding: 0.5em;
}

.filter__td
{
    width: 200px;
}

.filter__td:last-child
{
    width: 100%;
}
