.filter
{
    width: 100%;
    background: #f9f9f9;
    border: #c5c5c5 1px solid;
    margin-bottom: 2em;
    padding: 20px;
}

.filter__td
{
    width: 200px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.filter__td:last-child
{
    width: 100%;
}

.filter__add_invisible
{
    display: none;
}
